.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 100;
    background-color: var(--bg-color);
    opacity: 80%;
    padding: 15px;
    height: 100px;
}
.brand{
    width: 70%;
}
@media screen and (min-width: 980px) {
    .header_container{
        padding: 15px 10%;
    }
}