.menu_container {
    display: flex;
    flex-direction: column;
}

.menu {
    position: absolute;
    background-color: var(--bg-color);
    padding: 21px;
    box-shadow: 1px 2px 5px var(--cinza-claro);
    margin-top: 15px;
    border-radius: 5px;

}

.menu.active {
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    right: 15px;
    gap: 5px
}
.nav_link{
    color:var(--text-color-primary);
}
.menu.inactive {
    opacity: 0;
    visibility: collapse;
    display: none;
}

@media screen and (min-width: 980px) {

    .menu.inactive {
        opacity: 1;
        position: relative;
        visibility: visible;
        display: flex;
        justify-content: space-around;
    }

    .menu {
        position: relative;
        background: none;
        padding: 21px;
        box-shadow: none;
        margin-top: 0;
    }

    .btn {
        display: none;
    }
    .menu_container {
        justify-content: space-between;
        width: 90%;
    }
    .social_media ul {
        gap:45px;
    }
}

.btn {
    border: none;
    width: 35px;
    height: 35px;
    font-size: 25px;
    background-color: var(--bg-color);

}

.social_media ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.social_media_icon {
    margin: 7px 0 7px 0;
    font-size: 32px;
}

.whatsapp:hover {
    color: var(--whatsapp-color);
}

.git:hover {
    color: var(--github-color);
}

.linkedin:hover {
    color: var(--linkedin-color);
}