.checkbox {
    display: none;
    position: absolute;
}
.theme_toggle_container{
    border: 2px solid var(--text-color);
    border-radius: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 3px;
    height: 27px;

    width: 55px;
}
.label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
i{
    margin: 1px;
}

.ball {
    background-color: var(--text-color);
    border-radius: 50%;
    width: 21px;
    height: 21px;
    position: absolute;

    transform: translateX(0px);
    transition: transform .2s linear;
}

.checkbox:checked + .label .ball{
    transform: translateX(25px);
}